* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(194, 230, 221);
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 800px;
}

.note {
  display: flex;
  padding: 15px;
  border: 2px solid teal;
  margin-top: 15px;
  justify-content: space-between;
  align-items: center;
}

.header {
  height: 60px;
  width: 47vw;
  background-color: teal;
  text-align: center;
}
